<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs nav-fill" id="myTab">
        <div class="liner"></div>

        <li class="active nav-item">
            <a [ngClass]="(page==='Personal')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="personal" data-toggle="tab"
                title="personal">
                <span class="round-tabs one">
                  <h5><i class="ti-user-check"></i> Personal</h5>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Work')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="work" data-toggle="tab" title="work">
                <span class="round-tabs two">
                  <h5><i class="ti-message-circle"></i> Work</h5>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Address')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="address" data-toggle="tab" title="address">
                <span class="round-tabs three">
                  <h5><i class="ti-map"></i> Address</h5>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a [ngClass]="(page==='Result')?'nav-link active':'nav-link'" uiSrefActive="active" uiSref="result" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                  <h5><i class="ti-airplay"></i> Finished</h5>
                </span>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
