<div class="page-body">
  <div class="row">
    <!-- order-card start -->
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Orders Received</h6>
          <h2 class="text-right"><i class="ti-shopping-cart f-left"></i><span>486</span></h2>
          <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Sales</h6>
          <h2 class="text-right"><i class="ti-tag f-left"></i><span>1641</span></h2>
          <p class="m-b-0">This Month<span class="f-right">213</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">Revenue</h6>
          <h2 class="text-right"><i class="ti-reload f-left"></i><span>$42,562</span></h2>
          <p class="m-b-0">This Month<span class="f-right">$5,032</span></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-3">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Profit</h6>
          <h2 class="text-right"><i class="ti-wallet f-left"></i><span>$9,562</span></h2>
          <p class="m-b-0">This Month<span class="f-right">$542</span></p>
        </div>
      </div>
    </div>
    <!-- order-card end -->

    <div class="col-lg-8 col-md-12">
      <app-card [title]="'Bar chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <chart [type]="type1" [data]="data1" [options]="options" style="width: 100%; height: 470px;"></chart>
      </app-card>
    </div>    
    
  <div class="col-sm-12 col-xl-3 m-b-30">
    <form>
      <h4 class="sub-title">Usuarios</h4>
      <select name="seleccion" [(ngModel)]="seleccion" class="form-control form-control-primary">
        <option value="opt1">Select One Value Only</option>
        <option *ngFor="let x of dataUri" value="'{{x.id}}'">{{x.login}}</option>
      </select> 
      <br>
      <button class="btn btn-primary" (click)="calcular()">Calcular</button>   
    </form>
  </div>

  </div>
</div>
