<div class="page-body navbar-page">
  <div class="row row-centered">
    <div class="col-md-12 col-centered">
      <!-- Custom Dark Colors card start -->
      <div class="card">
        <div class="card-block">  
          <div class="container">
              <div class="row">
                <div class="col-md-12">                  
                  <div *ngIf="findUser == 2" class="alert alert-danger border-danger">
                    <div class="text-center">
                      <p><strong>Usuario</strong> <code>no válido</code> o <strong>Clave</strong> <code>errada !</code></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <!-- Authentication card start -->
                  <div class="login-card card-block auth-body mr-auto ml-auto">          
                    <form #frmLogin="ngForm">
                      <div class="navbar-logo">
                        <div class="text-center">
                          <a [routerLink]="['/dashboard/ecommerce/']">
                            <img src="assets/images/LogoLogin.png" alt="Atcas">
                          </a>
                        </div>
                      </div>
                      <div class="auth-box">
                        <div class="row m-b-20">
                          <div class="col-md-12">
                            <h3 class="text-left txt-primary">Sign In</h3>
                          </div>
                        </div>
                        <hr/>
                        <div class="input-group">
                          <input type="email" class="form-control" (click)="change()" name="email" placeholder="Your Email Address" ngModel>
                          <span class="md-line"></span>
                        </div>
                        <div class="input-group">
                          <input type="password" class="form-control" placeholder="Password" name="password" ngModel>
                          <span class="md-line"></span>
                        </div>
                        <div class="row m-t-25 text-left">
                          <div class="col-12">
                            <div class="checkbox-fade fade-in-primary d-">
                              <label>
                                <input type="checkbox" value="">
                                <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                                <span class="text-inverse">Remember me</span>
                              </label>
                            </div>
                            <div class="forgot-phone text-right f-right">
                              <a [routerLink]="['/auth/forgot']" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                            </div>
                          </div>
                        </div>
                        <div class="row m-t-30">
                          <div class="col-md-12">
                            <button type="button" (click)="login(frmLogin)" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign in</button>
                          </div>
                        </div>
                        <hr/>
                        <div class="row">
                          <div class="col-md-10">
                            <p class="text-inverse text-left m-b-0">Proyecto Atcas.</p>
                            <p class="text-inverse text-left"><b>Atcas</b></p>
                          </div>                          
                        </div>                
                      </div>
                    </form>
                    <!-- end of form -->
                  </div>                  
                  <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
              </div>
              <!-- end of row -->
            </div>         
        </div>
      </div>
    </div>
  </div>
</div>

  