.calendar-event-tag {
  tag {
    display: none !important;
  }
  .ng2-tag-input {
    border-bottom: 1px solid #e5ebec !important;
    border: 1px solid #e5ebec;
    height: 38px !important;
    padding: 0px !important;
    color: #565656 !important;
  }
  .ng2-tag-input__text-input {
    background: transparent;
    padding: 7px 12px !important;
    letter-spacing: 0.3px;
  }
  input {
    &::-moz-placeholder {
      color: #8d9498;
      opacity: 1;
    }
    &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #8d9498;
    }
  }
}

.cal-event .calendar-event {
  position: relative;
  z-index: 1111999;
  cursor: move;
  margin: 10px 5px 0 0;
  padding: 6px 10px;
  display: inline-block;
  color: #fff;
  min-width: 140px;
  text-align: center;
  background: #007bff;
}

.cal-event .calendar-event a {
  float: right;
  opacity: .6;
  font-size: 10px;
  margin: 4px 0 0 10px;
  color: #fff;
}

.calendar-event-label.checkbox label {
  padding-left: 10px;
}

#calendar .cal-month-view .cal-day-badge {
  background: #007bff;
}

.ti-close:before {
  content: "\E646";
}

[class*=" ti-"], [class^=ti-] {
  font-family: themify;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#calendar-header .card-block-hid {
  overflow: visible !important;
}
