<div class="page-body">
  <div class="row row-centered">
    <div class="col-md-12 col-centered">
      <!-- Custom Dark Colors card start -->
      <div class="card">
        <div class="card-header" style="text-align:center">
          <h2>Panel de Control</h2>
        </div>
        <div class="card-block">
            <div class="row">
              <div class="col-md-6 col-xl-4">
                <div class="card widget-statstic-card borderless-card">
                  <a [routerLink]="['/dashboard/employees']">
                  <div class="card-header">
                    <div class="text-center">
                      <h5 align="center">Administración</h5>
                    </div>
                  </div>
                  <div class="card-block">
                    <i class="fa fa-connectdevelop st-icon bg-danger txt-lite-color"></i>
                    <div class="text-left">
                      
                    </div>
                  </div>
                  </a>
                </div>
              </div>                    
              <div class="col-md-6 col-xl-4">
                <div class="card widget-statstic-card borderless-card">
                  <a [routerLink]="['/dashboard/default']">
                  <div class="card-header">
                    <div class="text-center">
                      <h5 align="center">Aura Suits</h5>
                    </div>
                  </div>
                  <div class="card-block">
                    <i class="fa fa-user st-icon bg-warning txt-lite-color"></i>
                    <div class="text-left">
                      
                    </div>
                  </div>
                  </a>
                </div>
              </div>
              <div class="col-md-6 col-xl-4">
                <div class="card widget-statstic-card borderless-card">
                  <div class="card-header">
                    <div class="text-center">
                      <h5>Salud</h5>
                    </div>
                  </div>
                  <div class="card-block">
                      <i class="fa fa-heart-o st-icon bg-primary"></i>
                      <div class="text-left">
                        
                      </div>
                  </div>
                </div>
              </div>
              <br><br><br>
              <hr>
              <div class="col-md-12 col-xl-4">
                <a [routerLink]="['/security/ubicacion']">
                  <div class="card widget-statstic-card borderless-card">
                    <div class="card-header">
                      <div class="text-center">
                        <h5>Seguridad y Control</h5>
                      </div>
                    </div>
                    <div class="card-block">                        
                      <i class="fa fa-map-marker st-icon bg-success"></i>
                        <div class="text-left">
                          
                        </div> 
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-md-12 col-xl-4">
                    <div class="card widget-statstic-card borderless-card">
                      <div class="card-header">
                        <div class="text-center">
                          <h5>Productividad</h5>
                        </div>
                      </div>
                      <div class="card-block">                        
                        <i class="fa fa-line-chart st-icon bg-primary txt-lite-color"></i>
                          <div class="text-left">
                            
                          </div> 
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-4">
                    <div class="card widget-statstic-card borderless-card">
                      <div class="card-header">
                        <div class="text-center">
                          <h5>Recursos Humanos</h5>
                        </div>
                      </div>
                      <div class="card-block">
                        <i class="fa fa-users st-icon bg-secondary txt-lite-color"></i>
                        <div class="text-left">
                          
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</div>

