<div class="page-body navbar-page">
  <div class="row row-centered">
    <div class="col-md-12 col-centered">
      <!-- Custom Dark Colors card start -->
      <div class="card">
        <div class="card-header">
          <h5>Configuración de Grupos</h5>
        </div>
        <div class="card-block">
          <h4 class="sub-title">
            Selección de Grupos
          </h4>          
            <div class="col-sm-12 col-centered">                                                                      
              <div class="row">
                <div class="col-sm-12 col-centered">
                  <select name="seleccion" (change)="selectChangeHandler($event)" class="form-control input-sm full-data-search">
                    <option value="">Select One Value Only</option>
                    <option *ngFor="let group of nameGruposUri" value="'{{group.name}}'">{{group.name}}</option>
                  </select>
                  <br><br>
                  <div class="col">
                    <button class="btn btn-primary btn-round" (click)="enableSwitch()">Borrar selección</button>
                  </div>
                </div>
              </div>
              <br>
              <div class="text-center">
                  <h2 class="text-inverse text-center m-b-0">Grupos Seleccionados</h2>
              </div>
              <ul class="basic-list list-icons">
                <li *ngFor="let grupo of seleccionCombo">
                  <div class="card list-view-media">
                    <div class="card-block">
                      <div class="media">
                        <a class="media-left" href="javascript:">
                          <img class="media-object card-list-img"
                               src="assets/images/testing_2.png"
                               alt="Generic placeholder image">
                        </a>
                        <div class="media-body">
                          <div>
                            <h6 class="d-inline-block">
                              Grupo: </h6>
                            <label class="label  label-info">{{grupo}}</label>
                          </div>
                          <div class="f-13 text-muted m-b-15">
                            Softwear Engineer
                          </div>
                          <p>Este grupo se encuentra ubicada en la Región de Atacama, a 5 mil metros de altura y tiene en producción unas 20 mil toneladas de cobre.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>            
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Trabajadores'" [blockClass]="'p-0'">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th>Trabajador</th>
            <th>Temperatura</th>
            <th>Expansión Solar</th>
            <th>Vibraciones</th>
            <th>CO2</th>
            <th>Ritmo Cardíaco</th>
            <th>Comportamiento Humano</th>
            <th>Luces</th>
            <th>Modo</th>
            <th>Alarma</th>
          </tr>
          <tr>
            <td align="center"><img src="assets/images/Minero_1.png" alt="prod img" class="img-fluid"></td>
            <td align="center">22 <img src="assets/images/temperatura3.png" alt="prod img" class="img-fluid"></td>
            <td align="center">600 <i class="fa fa-sun-o" aria-hidden="true"></i></td>
            <td align="center">20 <i class="fa fa-bar-chart" aria-hidden="true"></i></td>
            <td align="center"><span class="label label-primary">145</span> <i class="ti-thought" aria-hidden="true"></i></td>
            <td align="center">40 <i class="fa fa-heart" aria-hidden="true"></i></td>
            <td align="center"><span class="ti-user"></span></td>
            <td align="center">Off <i class="fa fa-circle-o" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-stack-exchange" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td align="center"><img src="assets/images/Minero_2.png" alt="prod img" class="img-fluid"></td>
            <td align="center">2 <img src="assets/images/temperatura3.png" alt="prod img" class="img-fluid"></td>
            <td align="center">1200 <i class="fa fa-sun-o" aria-hidden="true"></i></td>
            <td align="center">40 <i class="fa fa-bar-chart" aria-hidden="true"></i></td>
            <td align="center"><span class="label label-danger">400</span><i class="ti-thought" aria-hidden="true"></i></td>
            <td align="center">40 <i class="fa fa-heart" aria-hidden="true"></i></td>
            <td align="center"><span class="ti-user"></span></td>
            <td align="center">Off <i class="fa fa-circle-o" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-stack-exchange" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td align="center"><img src="assets/images/Minero_3.png" alt="prod img" class="img-fluid"></td>
            <td align="center">12 <img src="assets/images/temperatura3.png" alt="prod img" class="img-fluid"></td>
            <td align="center">800 <i class="fa fa-sun-o" aria-hidden="true"></i></td>
            <td align="center">30 <i class="fa fa-bar-chart" aria-hidden="true"></i></td>
            <td align="center"><span class="label label-success">800</span><i class="ti-thought" aria-hidden="true"></i></td>
            <td align="center">40 <i class="fa fa-heart" aria-hidden="true"></i></td>
            <td align="center"><span class="ti-user"></span></td>
            <td align="center">Off <i class="fa fa-circle-o" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-stack-exchange" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td align="center"><img src="assets/images/Minero_4.png" alt="prod img" class="img-fluid"></td>
            <td align="center">-4 <img src="assets/images/temperatura3.png" alt="prod img" class="img-fluid"></td>
            <td align="center">900 <i class="fa fa-sun-o" aria-hidden="true"></i></td>
            <td align="center">20 <i class="fa fa-bar-chart" aria-hidden="true"></i></td>
            <td align="center" align="center"><span class="label label-warning">700</span><i class="ti-thought" aria-hidden="true"></i></td>
            <td align="center" align="center">70 <span class="ti-heart-broken"></span></td>
            <td align="center" align="center" align="center"><span class="ti-user"></span></td>
            <td align="center" align="center">On <i class="fa fa-circle" aria-hidden="true"></i></td>
            <td align="center" align="center"><i class="fa fa-stack-exchange" aria-hidden="true"></i></td>
            <td align="center" align="center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
          </tr> 
          <tr> 
            <td align="center" align="center"><img src="assets/images/Minero_6.png" alt="prod img" class="img-fluid"></td>
            <td align="center">0 <img src="assets/images/temperatura3.png" alt="prod img" class="img-fluid"></td>
            <td align="center">680 <i class="fa fa-sun-o" aria-hidden="true"></i></td>
            <td align="center">50 <i class="fa fa-bar-chart" aria-hidden="true"></i></td>
            <td align="center"><span class="label label-primary">870</span><i class="ti-thought" aria-hidden="true"></i></td>
            <td align="center">46 <i class="fa fa-heart" aria-hidden="true"></i></td>
            <td align="center" align="center"><span class="ti-user"></span></td>
            <td align="center">Off <i class="fa fa-circle-o" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-stack-exchange" aria-hidden="true"></i></td>
            <td align="center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></td>
          </tr>
        </table>
      </div>
    </app-card>
  </div>
</div>


<div class="row">         
  <div class="col-md-12">
    <app-card [title]="'Ubicación Trabajadores'" [classHeader]="true">
        <span class="code-header">Coordenadas GPS <code> {{nameGrupo}} </code></span>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="16">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>            
        </agm-map>
      </app-card>
  </div>      
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Ubicación Relativa'" [classHeader]="true"> 
      <span class="code-header">Ubicación relativa para el grupo <code> {{nameGrupo}} </code></span>       
      <chart [type]="type2" [data]="data2" [options]="options2"></chart>
    </app-card>
  </div>
</div>

</div>
  