<div class="page-body navbar-page">
  <div class="row">
    <div class="col-sm-6" *ngFor="let user of usersUri ; index as i">
      <div class="card card-border-primary">                          
        <div class="card-header">
          <img class="media-object card-list-img"
              src="assets/images/Minero_{{i+1}}.png"
              alt="Generic placeholder image">
          <h5> {{user.login}} </h5>                                  
          <div ngbDropdown class="dropdown-secondary dropdown f-right">
            <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Overdue</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown8" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
              <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Pending</a>
              <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>Paid</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>On Hold</a>
              <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Canceled</a>
            </div>
            <span class="f-left m-r-5 text-inverse">Status : </span>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-6">
              <ul class="list list-unstyled">
                <li>Creado #: &nbsp;{{user.login_date | date}}</li>
                <li>Modificado: <span class="text-semibold">{{user.write_date | date}}</span></li>
              </ul>
            </div>
            <div class="col-sm-6">
              <ul class="list list-unstyled text-right">
                <li>Partner Id: {{user.partner_id}}</li>
                <li>Alias Id: <span class="text-semibold">{{user.alias_id}}</span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-list-table">
            <p class="task-due"><strong> Grupo : </strong><strong class="label label-primary">{{user.company_id}}</strong></p>
          </div>          
        </div>
      </div>
    </div>    

  </div>
</div>